@font-face {
    font-family: Bender;
    font-display: swap;
    src: url(/fonts/Bender.eot);
    src: url(/fonts/Bender.eot?#iefix) format("embedded-opentype"), url(/fonts/Bender.woff) format("woff"), url(/fonts/Bender.ttf) format("truetype"), url(/fonts/Bender.svg#benderregular) format("svg");
}

html {
    background-color: rgb(0, 0, 0);
    color: #cccccc;
    font-family: Bender, Arial;
}


.playlist {
    display: flex;
    flex-direction: column;
    background: rgb(25, 25, 25);
    width: 700px;
    max-width: 100%;
    overflow-x: auto;
    height: calc(25*20px); //25x song
    margin: 0 auto;

    &::-webkit-scrollbar {
        width: 4px;
      }
      
      &::-webkit-scrollbar-track {
        background: #858585;
      }
       
      &::-webkit-scrollbar-thumb {
        background: #1DB954;
        max-height: 1px;
        border-radius: 500px;
      }


    .song {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(70, 70, 70);
        padding: 5px;
        height: 20px; //20 px na song

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 35px);
        }

        .removebtn {
            cursor: pointer;
            color: rgb(255, 24, 24);
            font-size: 20px;
            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }

        &:nth-child(even) {
            background-color: rgb(50, 50, 50)
        }

        .name {
            color: white;
        }

        .duration {
            color: white;
        }
    }
}


.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

    .controls {
        display: flex;
        justify-content: center;

        button {
            margin: 0 5px;
            cursor: pointer;
            outline: none;
            border: none;
            width: 35px;
            height: 35px;
            color: white;
            background: none;
            font-size: 17px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            opacity: .75;

            &:hover {
                opacity: 1;
            }
        }


        #playstop {
            background: white;
            color: black;
            border-radius: 100px;
        }
    }

    .timeline {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin-top: 25px;

        .timeline-container {
            width: 500px;
            margin-bottom: 10px;
            cursor: pointer;

            .timeline {
                margin-top: 10px;
                height: 6px;
                background-color: #4D4D4D;
                position: relative;
                border-radius: 50px;

                .played {
                    height: 100%;
                    background-color: #1DB954;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 50px;
                }
            }
        }
    }




    .volume-container {
        #customVolume {
            height: 5px;
        }

    }
}